#docEditor {
  width: 100%;
  height: 100vh;
}

.editor-status {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #475569;
}

.editor-error {
  color: #dc2626;
}
