.preview-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preview-image {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 65vh;
  height: auto;
}
